{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-react"
  ],
//  "plugins": [
//    "react-hot-loader/babel"
//
//  ]
  "plugins": [
    [
      "react-hot-loader/babel",
      {
        "safetyNet": false
      }
    ]
  ]
}
